*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
}
.select {
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 15%;
}
span{
    color: red;   
}
div{
font-size: 45PX;
}
.fa {
font-size: 10px;
width: 10px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.fa-facebook, .fa-twitter, .fa-google, .fa-linkedin{
background-color: red;
color: white;
padding: 4px;
margin: 3px;
}
.fa-copyright{
background-color: white;
color: black;
font-size: 15px;
padding: 0px;
}